*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../CSS/assets/fond_etoiles.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.card {
    padding-top: 30vh;
}